/sesiones/ConceptosBasicos1/nbproject/private/
/sesiones/ConceptosBasicos1/build/
/sesiones/Reutilizaciondecodigo/nbproject/private/
/sesiones/ReutilizacionDeCodigo1/nbproject/private/
/tareas/JavaApplication8/nbproject/private/
/tareas/Tarea LIBRO/nbproject/private/
/tareas/TareaDeCompocicion/nbproject/private/
/tareas/TareaDeCompocicion/build/
/tareas/Reutilizacion de codigo/nbproject/private/
/tareas/Reutilizacion de codigo/build/
/tareas/Cuentahabiente/nbproject/private/
/tareas/Cuentahabiente/build/
